{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration PBL</title>
    <link rel="stylesheet" href="{% static 'users/css/instructions.css' %}">
    <link rel="shortcut icon" type="image/png" href="img/favicon6.png">
</head>
<body>
    <nav>
		<input id="nav-toggle" type="checkbox">
		<div class="logo"><a class="navbar-brand"><img src="{% static 'users/img/SuperFitlogo2-withoutbackground.jpeg' %}"></a></div>
		<ul class="links">
			<li style="float: left;"><a href="{% url 'homepage' %}">Home</a></li>
			
			{% if user.is_authenticated %}
				<li style="float: left;"><a href="{% url 'profile' %}">Profile</a></li>
				<li style="float: left;"><a href="{% url 'Scanpage' %}">Scan</a></li>
				<li style="float: left;"><a href="{% url 'logout' %}">Logout</a></li>
			{% else %}
				<li style="float: left;"><a href="{% url 'login' %}">Login</a></li>
				<li style="float: left;"><a href="{% url 'register' %}">SignUp</a></li>
			{% endif %}
			<!-- <li><a href="#our technology">Our Technology</a></li>
			<li><a href="#our team">Our team</a></li> -->
			<li style="float: left;"><a href="#contact us">Contact Us</a></li>
			<!-- <li><a href="#project report">Project Report</a></li> -->
			
		</ul>
		<label for="nav-toggle" class="icon-burger">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</label>
	</nav>
    <!--
    <nav>
		<input id="nav-toggle" type="checkbox">
		<div class="logo"><a class="navbar-brand"><img src="static/users/img/SuperFitlogo2-withoutbackground.jpeg"></a></div>
		<ul class="links mr-auto">
            
			<li><a href="{% url 'homepage' %}">Home</a></li>
			<li><a href="{% url 'login">Profile</a></li>
			<li><a href="#scan">Scan</a></li>
            <li><a href="#logout">Logout</a></li>
		</ul>
        
		<label for="nav-toggle" class="icon-burger">
			<div class="line"></div>
			<div class="line"></div>
			<div class="line"></div>
		</label>
	</nav>-->

    <div class="row">
        <div class="instructions">
            <h2>Instructions:</h2><h4>(while capturing the image)</h4>
            <ol class="links" style="list-style-type:none;">
                <li>1. Make sure you and the pattern on your superfit app are completely visible.</li><br>
                <li>2. Hold the pattern as vertically as possible to avoid slant measure errors.</li><br>
                <li>3. A plain background and 1-1.5m distance from the camera is preferable.</li><br>
                <li>4. Please click on the "Allow" button when prompted by the browser to use camera.</li><br>
                <div class="allow">
                    <img src="{% static 'users/img/allow.jpeg' %}" class="center">
                </div>
            </ol>
        </div>
    
        <div class="caption">
            <div class="boxer">
                <h4>Upload Image</h4>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ s_form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-dark button-lg" type="submit" >Upload</button>
                        <a class="btn btn-outline-dark button-lg" href="/thankyou">Proceed</a>
                    </div>
                </form>
                <br><br>
                <h3>OR</h3>
                <br>
                <a class="btn btn-outline-dark button-lg" href="/camera">Scan by Webcam</a>
            </div>
            <!-- <h2>Scan here!</h2>
            <hr><br> -->
            <!--
            <div class="boxer">
                <h4>Upload Image</h4>
                <a class="btn btn-outline-dark button-lg" href="#file">Choose File</a>
                <h6>No file chosen</h6>
                <a class="btn btn-outline-dark button-lg" href="#upload">Upload</a>
                <br><br>
                <h3>OR</h3>
                <br>
                <a class="btn btn-outline-dark button-lg" href="#scanbywebcam">Scan by Webcam</a>
            </div>-->
        </div>
    </div>
    <br><br>

    <hr class="socket">
    <div id="footer">
        <p class="left">
            <strong>Contact Info</strong><br>
            888-888-888<br>superfit@gmail.com
            
        </p>
        <p class="right">
            &copy; Super Fit <br>Made with ❤ by crew of Super Fit<br>Group Id: 3A72021
        </p>
        <p class = "centered">
            <img src="{% static 'users/img/SuperFitlogo1.jpeg' %}"><br>
        </p>
    </div>
    
    
</body>
</html>